@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-weight: 400;
    line-height: 34px;
    color: #5d5d5d;
    background-color: #ffffff;
    overflow-x: hidden;
   -webkit-font-smoothing: antialiased; /* Mejora la visualizacion*/
}

.homepage-container {
    display: flex;
    width: 100%;
    padding: 12px 24px;
    /*border: solid;  borde primer contenedor*/
    background-color: #f8f8f8 !important;
    
}


/* aqui va un codigo que estoy probando*/


.info-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}


.introhomepagecenter {
    /* border: solid;  Borde contenedor hijo*/
    height: 340px;
    margin: 10px;
    text-align: center!important;
    padding-top: 90px;

}


.introhomepagecenter h1 {
    font-size: 60px;
    line-height: 85px;
    letter-spacing: 6px;
    text-transform: capitalize;

}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #282828;
    margin: 0 0 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.introhomepagecenter h4 {
    font-size: 20px;
}

/* subtitulo del introhomepage*/
.subtitle- {
    font-weight: lighter;
    text-transform: capitalize!important;
}

h4 {
    letter-spacing: 2.7px;
}

