.contenedor-padresixpictures {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 60px;

}

.images-hijos {
    flex-direction: column;
    padding-top: 70px;
}

.colum-one {
    
    padding: 0em 0px 110px 5px;
    padding-left: 120px;
    padding-top: 70px;
}
.colum-two {
    padding-bottom: 0;
    
}

.colum-three {
    padding: 0em 40px 90px 5px;
}


.espacios-entredivs {
    /* Espacio entre los divs individuales, cada*/
    margin: 16px;
}

.down-button {
    justify-content: last baseline;
    align-content: flex-end;
}