.servicios-contenedor-padre {
   /* background: rgb(112, 112, 236); */
    border: solid; 
    display: flex;
    padding-left: 105px;
    padding-right: 105px;
    /* No le ajusto ni ancho ni alto para que este se acomode al valor de su proximo hijo*/

}



.contenedor {
    border: solid; 
    background: yellow;
   /* width: 20%; /* Para que cada tarjeta ocupe el 25% del total del ancho.*/
    margin: 12px;
    padding: 65px 15px 60px 15px;
    

    /*display: inline-block; */
    
}



.seccion1servicios {
    align-content: flex-start;

}


.card {
    text-align: center;
}

